body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #e6e6e6;
}

.page {
    width: 80%;
    margin: 30px auto;
    font-family: Arial, sans-serif;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.tab-container {
    display: flex;
    border-bottom: 2px solid #ccc;
}

.tab {
    padding: 12px 20px;
    cursor: pointer;
    user-select: none;
    border-radius: 6px 6px 0 0;
}

.tab.active {
    border-bottom: 3px solid #0078ff;
    font-weight: bold;
}

.content {
    padding: 20px;
}

.subtabs {
    display: flex;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
}

.subtab {
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
}

.subtab.active {
    border-bottom: 2px solid #0078ff;
    font-weight: bold;
}

.tab:hover {
    background-color: #e6e6e6;
}


.subtab:hover {
    background-color: #e6e6e6;
}

.pdf-container {
display: flex;
gap: 0px;
flex-wrap: wrap;
}


.pdf-box {
width: 49%;
}


.pdf-box h4 {
text-align: center;
margin-bottom: 8px;
}


.pdf-box iframe {
width: 100%;
height: 500px;
}