body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #e6e6e6;
}

.page {
    width: 80%;
    margin: 30px auto;
    font-family: Arial, sans-serif;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.tab-container {
    display: flex;
    border-bottom: 2px solid #ccc;
}

#self {
    padding: 0 20px 20px 20px;
}

.tab {
    padding: 12px 20px;
    cursor: pointer;
    user-select: none;
    border-radius: 6px 6px 0 0;
}

.intro-box {
    width: 50%;
    align-content: left;
    border: solid 2px darkgray;
    border-radius: 2px;
    padding: 5px
}

.tab.active {
    border-bottom: 3px solid #0078ff;
    font-weight: bold;
}

.content {
    padding: 20px;
}

.subtabs {
    display: flex;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
}

.subtab {
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
}

.subtab.active {
    border-bottom: 2px solid #0078ff;
    font-weight: bold;
}

.tab:hover {
    background-color: #e6e6e6;
}


.subtab:hover {
    background-color: #e6e6e6;
}

.pdf-container {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}


.pdf-box {
    width: 49%;
}


.pdf-box h4 {
    text-align: center;
    margin-bottom: 8px;
}


.pdf-box iframe {
    width: 100%;
    height: 750px;
}

.assessment ol {
    margin: 0;
    padding: 0
}

.assessment table td,
.assessment table th {
    padding: 0
}

.assessment .c2 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.assessment .c3 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Arial";
    font-style: normal
}

.assessment .c0 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.assessment .c10 {
    padding-top: 18pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.assessment .c12 {
    padding-top: 20pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.assessment .c5 {
    padding-top: 4pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.assessment .c8 {
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 20pt;
    font-family: "Arial";
    font-style: normal
}

.assessment .c9 {
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.assessment .c7 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Arial";
    font-style: normal
}

.assessment .c6 {
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Arial";
    font-style: normal
}

.assessment .c1 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.assessment .c11 {
    background-color: #ffffff;
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt
}

.assessment .c4 {
    color: #000000
}

.assessment .title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.assessment .subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.assessment li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

.assessment p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

.assessment h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.assessment h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.assessment h3 {
    padding-top: 16pt;
    color: #000000;
    font-size: 13pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.assessment h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.assessment h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.assessment h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}